@charset "UTF-8";
#join_text {
	text-align: center;
}

#join {
	text-align: center;
	height: 400px;
	width: 500px;
	background-color: #DEDEDE;
	margin: auto;
	margin-top: 80px;
	border-radius: 18px 18px 18px 18px;
}

#id {
	margin-top: 40px;
}

#pw {
	margin-top: 20px;
}
#name{
	margin-top: 20px;
}
#tel{
	margin-top: 20px;
}